body,
html {
    padding: 0;
    margin: 0;
    font: 16px/1.6 'OfficinaSansWinCTT', arial, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1430px;
    padding: 0 30px;
    margin: 0 auto;
}

.section {
    padding-bottom: 80px;
}

.main-title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.section-title {
    font-size: 30px;
    padding-left: 33px;
    margin-bottom: 80px;
}

.holder-section {
    display: flex;
}

.left-container {
    flex-basis: 123px;
    min-width: 123px;
}

.right-container {
    flex-grow: 1;
}

.stepmarker {
    width: 123px;
    height: 43px;
    background: #a80617;
    line-height: 43px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.holder-devices,
.holder-brands,
.holder-problems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    /*flex-basis: calc(25% - 15px);*/
    flex-basis: 24%;
    min-width: 24%;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
    border: 2px solid transparent;
    transition: .3s all;
    cursor: pointer;
}

.card-device {
    padding: 40px;
    height: 382px;
}

.card-brand {
    height: 261px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 18px;
}

.card-problem {
    height: 261px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 18px;
    padding: 30px;
}

.card-problem > div {
    text-align: center;
}

.card:hover {
    border: 2px solid #a80617;
}

.title {
    font-size: 26px;
    line-height: 32px;
}

.guarantee {
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 25px 40px 25px 25px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.photo-person {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

.photo-person > div {
    display: flex;
}

.guarantee-desc {
    flex-basis: 80%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.guarantee-desc p {
    color: #373737;
    margin: 0 0 5px 0;
    line-height: 27px;
}
.guarantee-desc span {
    color: #949494;
    text-align: right;
}

.order-holder {
    display: flex;
    justify-content: space-between;
}

.description-device {
    flex-basis: 48%;
    display: flex;
    justify-content: space-between;
}

.description-device > div:first-child {
    flex-basis: 190px;
}

.description-device > div:last-child {
    flex-basis: calc(100% - 230px);
}

.order-form {
    flex-basis: 35%;
}

.details-device {
    display: flex;
    flex-direction: column;
}

.details-device > div {
    margin-bottom: 10px;
}

.type {
    color: #a7a7a7;
    font-size: 22px;
    margin-bottom: 10px;
}

.type-name {
    font-size: 26px;
    color: #000;
}

.restoring {
    padding: 20px 60px 20px 25px;
    display: flex;
    align-items: center;
    background: #eee;
    font-size: 22px;
    color: #aeaeae;
}

.restoring-none {
    display: none;
}

.repair-price {
    display: flex;
    justify-content: space-between;
}

.price-title {
    font-size: 26px;
}

.price {
    padding: 3px 30px 3px 20px;
    text-align: left;
    border-radius: 10px;
    background: #a80617;
    font-size: 26px;
    color: #fff;
}

.order-form {
    display: flex;
    flex-direction: column;
}

.order-form p {
    font-size: 26px;
    margin: 0 0 28px 0;
}

.form-holder input {
    width: 100%;
    margin-bottom: 20px;
    padding: 18px 18px 18px 28px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
    font-size: 22px;
    transition: .4s all;
    border: 2px solid transparent;
    background: transparent;
}

.form-holder input:focus {
    outline: none;
    border: 2px solid #a80617;
}
input[type=number] {
    margin-bottom: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-input-placeholder {
    color: #9b9b9b;
    font-size: 22px;
}

input::-moz-placeholder {
    color: #9b9b9b;
}

input[type=submit] {
    background: #a80617;
    cursor: pointer;
    color: #fff;
}

input[type=submit]:hover {
    background: #eee;
    border: 2px solid #a80617;
    color: #a80617;
}

#step-4 {
    padding-bottom: 200px;
}

.step {
    display: none;
}

@media screen and (max-width: 1450px){

    .card {
        flex-basis: 44%;
        min-width: 44%;
        margin-bottom: 30px;
    }

    .description-device {
        flex-basis: 55%;
    }

    .type {
        font-size: 20px;
    }

    .type-name {
        font-size: 22px;
    }

    .restoring {
        font-size: 20px;
        padding: 20px;
    }

    .price-title {
        font-size: 20px;
    }

    .price {
        padding: 3px 15px;
        font-size: 20px;
        text-align: center;
    }


}

@media screen and (max-width: 1024px){

    .main-title {
        font-size: 42px;
        margin-bottom: 40px;
    }

    .stepmarker {
        width: 85px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        margin-top: 8px;
    }

    .container {
        padding: 0 15px;
    }


    .holder-devices,
    .holder-brands,
    .holder-problems {
        justify-content: space-around;
    }

    .price {
        font-size: 20px;
        padding: 3px 18px 3px 18px;
    }
    .details-device > div {
        margin-bottom: 24px
    }

    .description-device {
        flex-basis: 59%;
    }

    .restoring {
        padding: 15px;
    }
    .order-holder {
        display: block;
    }

    .guarantee {
        flex-direction: column;
    }

}

@media screen and (max-width: 768px){

    .main-title {
        font-size: 33px;
        margin-bottom: 30px;
    }

    .card {
        padding: 15px;
    }

    .guarantee {
        padding: 15px;
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto 30px auto;
    }

    .guarantee-desc {
        font-size: 18px;
    }

    .photo-person {
        margin-bottom: 15px;
    }

    .description-device {
        margin-bottom: 15px;
    }

    .description-device > div:first-child {
        max-width: 200px;
    }

    .title {
        font-size: 17px;
    }

    .card-device {
        height: 290px;
    }

    .card-electric-stove,
    .card-fridge,
    .card-washer,
    .card-dishwasher {
        background-size: 150px!important;
    }

    .card-problem {
        height: 160px;
    }

}

@media screen and (max-width: 576px){

    .main-title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .left-container {
        display: none;
    }

    .section-title {
        font-size: 20px;
        margin-bottom: 30px;
        padding-left: 0;
    }

    .holder-devices,
    .holder-brands,
    .holder-problems {
        display: block;
        max-width: 80%;
        margin: 0 auto 30px auto;
    }

    .section {
        padding-bottom: 30px;
    }
    .description-device {
        display: block;
    }
}


.card-electric-stove {
    background: url('../image/wave.png') bottom -19px right -18px no-repeat;
    background-size: 210px
}

.card-fridge {
    background: url('../image/fridge.png') bottom -19px right -18px no-repeat;
    background-size: 210px;
}

.card-washer {
    background: url('../image/washer.png') bottom -19px right -18px no-repeat;
    background-size: 210px
}

.card-dishwasher {
    background: url('../image/dishwasher.png') bottom -19px right -18px no-repeat;
    background-size: 210px
}













